provider "google" {
  project = "example-project"
  region  = "us-west1"
  zone    = "us-west1-a"
}

// A single Google Cloud Engine instance
resource "google_compute_instance" "default" {
  name         = "example-app"
  machine_type = "n1-standard-2"

  boot_disk {
    initialize_params {
      image = "debian-cloud/debian-9"
    }
  }

  network_interface {
    network = "default"

    access_config {
      // Include this section to give the VM an external ip address
    }
  }
}

output "ip" {
  value = "${google_compute_instance.default.network_interface.0.access_config.0.nat_ip}"
}
